* {
    font-family: Quicksand;
    font-size: 15px;
    text-align: center;
    color: #050505;
}

body {
    margin: 0;
    height: 100vh;
    padding: 0;
    border: 0;
    background: linear-gradient(to bottom right, #54b3b3, #40b2df);
}

.form {
    background-color: #0abfec;
    height: 600px;
    width: 500px;
    border-radius: 20px;
    margin: 20px auto 20px auto;
    display: block;
    border: solid 5px #050001;
    box-shadow: 0 0 40px 0 #110f0f;
}        

.form:hover {
    box-shadow: 0 0 30px 0 #2c1d1d;
    transition: .4s;
    transform: scale(1.02);
}

.row-one {
    padding: 10px;
    text-align: center;
}

.row-two {
    padding: 10px;
    text-align: center;
}

